body {
  background-color: #D3D3D3 !important;
  margin: 0;
}
ul {
  border: none;
  border-bottom: none;
  background-color: black;
  padding-left: 30px;
  font-family:'Mukta', sans-serif;
  font-size: 18px;
}
.nav {
  position: fixed;
  width: 100%;
  top: 0;
}
.logo {
  font-family: 'Oswald', sans-serif;
  text-align: center;
  color: #D1351D;
  background-color: #479AED;
  margin: 0;
  padding-left: 15px;
  float: left;
  padding-top: 8px;
  padding-right: 15px;
  text-decoration-style: solid;
  font-size: 18px;
}
.nav-tabs .nav-link.active {
  color: #D1351D;
  background-color: #A9A9A9;
}
.nav-tabs .nav-link.active:hover {
  color: #D1351D;
  background-color: #A9A9A9;
}
.nav-tabs {
  border-bottom: 5px blue;
  background-color: #479AED;
}
.nav-link {
  color: #fdf5e6;
  background-color: #479AED;
  border-color: #479AED;
}
.nav-tabs .nav-link {
  border-radius: 0;
  margin: 0;
  border: none;
  float: center;
  padding-top:.5em;
  padding-bottom: .5em;
}
.nav-tabs .nav-item {
  margin: 0;
}
.nav-tabs .nav-item+.nav-item {
  margin-left: 0;
}
a:hover {
  color: #D1351D;
  background: #A9A9A9;
  border-color: #A9A9A9;
}
.dropdown-toggle {
  border: none;
  position: relative;
  left: 20%;
  top: 2.5px;
  background-color: #479AED;
  color: white;
  border-color: black;
}
.dropdown-item {
  text-align: center;
  width:96%;
  color: #fdf5e6;
  margin-left: 2%;
  margin-right: 2%;
  padding-left: 15px;
  padding-right: 15px;
}
.dropdown-item:hover {
  background-color: #A9A9A9;
  color: #D1351D;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.btn-secondary.dropdown-toggle:hover {
  background-color: #A9A9A9;
  color: #D1351D;
}
.dropdown-menu {
  border: none;
  border-radius: 5px;
  background-color: #479AED;
}
.open>.btn-secondary.dropdown-toggle:focus {
  background-color: #A9A9A9;
  color: #D1351D;
}
.circle {
  border-radius: 50%;
  background-color: #D1351D;
  color: #fdf5e6;
  width: 35px;
  height: 35px;
  margin-left: 12px;
  margin-top: 4px;
  padding-top: 5px;
  margin-left: 95%;
  font-family:'Mukta', sans-serif;
  text-align: center;
}
.mainfooter {
font-size: 15px;
color: #fdf5e6;
text-align: center;
margin: 0 auto;
padding-top: 10px;
padding-bottom: 10px;
font-family: 'Roboto Condensed', sans-serif;
}
.about {
  float: center;
  margin: 0;
  padding-top: 25px;
  width: 100%;
  height: 100px;
  background-color: grey;
  color: white;
  text-align: center;
}
.body {
  margin: 0;
  margin-top: 44px;
  width: 100%;
  background-color: #A9A9A9;
  color: #007F02;
  text-align: center;
  height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}
p {
  font-size: 17px;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #505050;
  font-family: 'Roboto Condensed', sans-serif;
margin: 0 auto;
  margin-left: 10%;
  margin-right: 10%;
}
.team {
  margin: 0;
  width: 100%;
  text-align: center;
  height: 100%;
  padding-top: 20px;
}
.teamcolumn {
  width: 50%;
  color: #505050;
  height: auto;
  text-align: center;
  float: left;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 50px;
}
h2 {
  margin: .5em auto;
  text-align: center;
  color: #D1351D;
  text-decoration: none;
  font-size: 50px;
  font-family:'Mukta', sans-serif;
}
h1 {
  font-size: 30px;
  font-family:'Mukta', sans-serif;
  color: #007F02;
}
h3 {
  font-size: 22px;
  font-family: 'Roboto Condensed', sans-serif;
  color: #505050;
}
.photo {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 200px;
  height: 275px;
  border-radius: 50%;
}
