body {
  background-image: url("food background.png");
  background-repeat: none;
  background-attachment: fixed;
  background-position: center;
  background-position: -40px 42px;
}
ul {
  border: none;
  border-bottom: none;
  background-color: black;
  padding-left: 30px;
  font-family:'Mukta', sans-serif;
  font-size: 18px;
}
.logo {
  font-family: 'Oswald', sans-serif;
  text-align: center;
  color: #D1351D;
  background-color: #479AED;
  margin: 0;
  padding-left: 15px;
  float: left;
  padding-top: 8px;
  padding-right: 15px;
  text-decoration-style: solid;
  font-size: 18px;
}
.nav-tabs .nav-link.active {
  color: #D1351D;
  background-color: #A9A9A9;
}
.nav-tabs .nav-link.active:hover {
  color: #D1351D;
  background-color: #A9A9A9;
}
.nav {
  position: fixed;
  width: 100%;
  top: 0;
}
.nav-tabs {
  border-bottom: 5px blue;
  background-color: #479AED;
  position
}
.nav-link {
  color: #fdf5e6;
  background-color: #479AED;
  border-color: #479AED;
}
.nav-tabs .nav-link {
  border-radius: 0;
  margin: 0;
  border: none;
  float: center;
  padding-top:.5em;
  padding-bottom: .5em;
}
.nav-tabs .nav-item {
  margin: 0;
}
.nav-tabs .nav-item+.nav-item {
  margin-left: 0;
}
a:hover {
  color: #D1351D;
  background: #A9A9A9;
  border-color: #A9A9A9;
}
.dropdown-toggle {
  border: none;
  position: relative;
  left: 20%;
  top: 2.5px;
  background-color: #479AED;
  color: white;
  border-color: black;
}
.dropdown-item {
  text-align: center;
  width:96%;
  color: #fdf5e6;
  margin-left: 2%;
  margin-right: 2%;
  padding-left: 15px;
  padding-right: 15px;
}
.dropdown-item:hover {
  background-color: #A9A9A9;
  color: #D1351D;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.btn-secondary.dropdown-toggle:hover {
  background-color: #A9A9A9;
  color: #D1351D;
}
.dropdown-menu {
  border: none;
  border-radius: 5px;
  background-color: #479AED;
}
.open>.btn-secondary.dropdown-toggle:focus {
  background-color: #A9A9A9;
  color: #D1351D;
}
.circle {
  border-radius: 50%;
  background-color: #D1351D;
  color: #fdf5e6;
  width: 35px;
  height: 35px;
  margin-left: 12px;
  margin-top: 4px;
  padding-top: 5px;
  margin-left: 95%;
  font-family:'Mukta', sans-serif;
  text-align: center;
}
.mainfooter {
font-size: 15px;
color: #fdf5e6;
text-align: center;
margin: 0 auto;
padding-top: 10px;
padding-bottom: 0px;
font-family: 'Roboto Condensed', sans-serif;
}s
.display-3 {
  color: #D1351D;
  margin: 0 auto;
}
/*wait time boxes */
.wait-display {
  float: center;
  margin: 3%;
  padding:2%;
  border: 5px solid green;
  border-radius: 10px;
  text-align: center;
  font-family: sans-serif;
  font-style: oblique;
  font-size: 50px;
  color: #fdf5e6;
  font-family: 'Roboto Condensed', sans-serif;

}

/*main columns home page*/
.maincolumn {
  float: center;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 30px;
  margin-top: 25px;
  padding: 2%;
  background-color: #A9A9A9;
  width:94%;
  height: 100%;
  border-radius: 10px;
  text-align: center;
  color: #007F02;
  font-family: 'Roboto Condensed', sans-serif;
}
/* middle buttons*/
.homebuttons {
  padding-left: 20%;
  padding-right: 20%;
  margin-top: 15px
}
.homebuttons a {
    background-color: #479AED;
    border: none;
    color: #fdf5e6;
    padding: 15px 19px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 10px;
    border-radius: 10px;
    font-family: 'Roboto Condensed', sans-serif;
}
button:hover {
  background-color: #D3D3D3;
  color: #007F02;
  text-decoration: none;
}
a.btn.btn-primary.btn-lg {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  text-align: center;
  float: center;
  margin: 0 auto;
  background-color: #479AED;
  border-color: #479AED;
  color: #fdf5e6;
}
a.btn.btn-primary.btn-lg:hover {
  background-color: #D3D3D3;
  border-color: #A9A9A9;
  color: #007F02;
  font-family: 'Roboto Condensed', sans-serif;
}
#button:hover {
  color: #D1351D;
  background-color:#A9A9A9;
}
.title {
  color: #D1351D;
  font-size: 50px;
  font-family:'Mukta', sans-serif;
  top:50%;
  text-align: center;
}
.sub{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 25px;
  color: #007F02;
  text-align: center;
  margin-left: 22%;
  margin-right: 22%;
  margin-top: 15px;
  margin-bottom: 75px;
}
.input {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  text-align: left;
  background-color: #479AED;
  border-color: #479AED;
  color: #fdf5e6;
  font-family: 'Roboto Condensed', sans-serif;
  margin-bottom: 50px;
  margin-right: 4%;
  margin-left: 4%;
  padding: 10px 40px 10px 40px;
  border-radius: 5px;
}
.input:hover {
  background-color:#A9A9A9;
  color: #D1351D;
  border-color: #007F02 ;
}
.wrapper {
  margin-top: 210px;
  text-align: center;
}

hr {
  width: 58%;
  margin-left: 21%;
  margin-right: 21%;
  border-width: 3px;
  border-color: #A9A9A9;
  opacity: 1;
}
