body {
  background-color: #D3D3D3 !important;
  margin: 0;
}
ul {
  border: none;
  border-bottom: none;
  background-color: black;
  padding-left: 30px;
  font-family:'Mukta', sans-serif;
  font-size: 18px;
}
.logo {
  font-family: 'Oswald', sans-serif;
  text-align: center;
  color: #D1351D;
  background-color: #479AED;
  margin: 0;
  padding-left: 15px;
  float: left;
  padding-top: 8px;
  padding-right: 15px;
  text-decoration-style: solid;
  font-size: 18px;
}
.nav-tabs .nav-link.active {
  color: #D1351D;
}
.nav-tabs {
  border-bottom: 5px blue;
  background-color: #479AED;
}
.nav-link {
  color: #fdf5e6;
  background-color: #479AED;
  border-color: #479AED;
}
.nav-tabs .nav-link {
  border-radius: 0;
  margin: 0;
  border: none;
  float: center;
  padding-top:.5em;
  padding-bottom: .5em;
}
.nav-tabs .nav-item {
  margin: 0;
}
.nav-tabs .nav-item+.nav-item {
  margin-left: 0;
}
a:hover {
  color: #D1351D;
  background: #A9A9A9;
  border-color: #A9A9A9;
}
.dropdown-toggle {
  border: none;
  position: relative;
  left: 20%;
  top: 2.5px;
  background-color: #479AED;
  color: white;
  border-color: black;
}
.dropdown-item {
  text-align: center;
  width:96%;
  color: #fdf5e6;
  margin-left: 2%;
  margin-right: 2%;
  padding-left: 15px;
  padding-right: 15px;
}
.dropdown-item:hover {
  background-color: #A9A9A9;
  color: #D1351D;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.btn-secondary.dropdown-toggle:hover {
  background-color: #A9A9A9;
  color: #D1351D;
}
.dropdown-menu {
  border: none;
  border-radius: 5px;
  background-color: #479AED;
}
.open>.btn-secondary.dropdown-toggle:focus {
  background-color: #A9A9A9;
  color: #D1351D;
}
.circle {
  border-radius: 50%;
  background-color: #D1351D;
  color: #fdf5e6;
  width: 35px;
  height: 35px;
  margin-left: 12px;
  margin-top: 4px;
  padding-top: 5px;
  margin-left: 95%;
  font-family:'Mukta', sans-serif;
  text-align: center;
}
.mainfooter {
font-size: 15px;
color: #fdf5e6;
text-align: center;
margin: 0 auto;
height: 100%;
padding-top: 10px;
padding-bottom: 10px;
font-family: 'Roboto Condensed', sans-serif;
}
.jumbotron {
  padding: 1em 2em;
  margin-bottom: 0;
  border-radius: 0;
  background-color: #A9A9A9;
  color: #D1351D;
}
a.btn.btn-primary.btn-lg {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  display: inline-block;
  margin: auto;
  background-color: #479AED;
  border-color: #479AED;
  color: #fdf5e6;
}
a.btn.btn-primary.btn-lg:hover {
  background-color: #D3D3D3;
  border-color: #A9A9A9;
  color: #007F02;
  font-family: 'Roboto Condensed', sans-serif;
}
p.lead {
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  color: #585858;
  font-family: 'Roboto Condensed', sans-serif;
  }
h1.display-3 {
  font-size: 70px;
  padding: 0;
  margin: 0 auto;
  font-family:'Mukta', sans-serif;
}
.col-md-1-12 {
  float: left;
  width: 50%;
}
.col-lg-1-12 {
  float: left;
  width: 50%;
}
.verticalline {
  border-left: 3px solid #479AED;
  height:550px;
  position: absolute;
  left: 50%;
  margin-right: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.textbox {
background-color: #A9A9A9;
width: 50%;
height: auto;
text-align: center;
margin: 0 auto;
color:#007F02;
padding: 2em;
margin-bottom: 35px;
font-family: 'Roboto Condensed', sans-serif;
}
p {
  color: #007F02;
  font-size: 16px;
  margin: 0 auto;
  margin-bottom: .2em;
  margin-top: 1em;
  text-align: left;
  font-family: 'Roboto Condensed', sans-serif;
}
h2 {
  margin: .5em auto;
  text-align: center;
  color: #D1351D;
  text-decoration: none;
  font-size: 50px;
  font-family:'Mukta', sans-serif;
}
.notificationbox {
  background-color: #D3D3D3;
  color: #007F02;
  font-family: 'Roboto Condensed', sans-serif;
  width: 70%;
  text-align: center;
  display: inline-block;
  border-width: 3px;
  border-color: #479AED;
  border-style: solid;
}
.delete {
  background-color: #D1351D;
  color: #fdf5e6;
  float: left;
  width: 20px;
  height: 23px;
  margin: 10px;
  border: none;
  border-style: none;
  padding: auto 0;
}
.delete:hover {
  background-color:#A9A9A9 ;
  color:#007F02;
}
