body {
  background-image: url("wood background.jpg");
  background-repeat: none;
  background-attachment: fixed;
  background-position: center;
  background-size: contain;
  /* background-position: -40px 42px; */

  /* background-color: #D3D3D3 !important;
  margin: 0; */
}
ul {
  border: none;
  border-bottom: none;
  background-color: black;
  padding-left: 30px;
  font-family:'Mukta', sans-serif;
  font-size: 18px;
}
.nav {
  position: fixed;
  width: 100%;
  top: 0;
}
.logo {
  font-family: 'Oswald', sans-serif;
  text-align: center;
  color: #D1351D;
  background-color: #479AED;
  margin: 0;
  padding-left: 15px;
  float: left;
  padding-top: 8px;
  padding-right: 15px;
  text-decoration-style: solid;
  font-size: 18px;
}
.nav-tabs .nav-link.active {
  color: #D1351D;
  background-color: #A9A9A9;
}
.nav-tabs .nav-link.active:hover {
  color: #D1351D;
  background-color: #A9A9A9;
}
.nav-tabs {
  border-bottom: 5px blue;
  background-color: #479AED;
}
.nav-link {
  color: #fdf5e6;
  background-color: #479AED;
  border-color: #479AED;
}
.nav-tabs .nav-link {
  border-radius: 0;
  margin: 0;
  border: none;
  float: center;
  padding-top:.5em;
  padding-bottom: .5em;
}
.nav-tabs .nav-item {
  margin: 0;
}
.nav-tabs .nav-item+.nav-item {
  margin-left: 0;
}
a:hover {
  color: #D1351D;
  background: #A9A9A9;
  border-color: #A9A9A9;
}
.dropdown-toggle {
  border: none;
  position: relative;
  left: 20%;
  top: 2.5px;
  background-color: #479AED;
  color: white;
  border-color: black;
}
.dropdown-item {
  text-align: center;
  width:96%;
  color: #fdf5e6;
  margin-left: 2%;
  margin-right: 2%;
  padding-left: 15px;
  padding-right: 15px;
}
.dropdown-item:hover {
  background-color: #A9A9A9;
  color: #D1351D;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.btn-secondary.dropdown-toggle:hover {
  background-color: #A9A9A9;
  color: #D1351D;
}
.dropdown-menu {
  border: none;
  border-radius: 5px;
  background-color: #479AED;
}
.open>.btn-secondary.dropdown-toggle:focus {
  background-color: #A9A9A9;
  color: #D1351D;
}
.circle {
  border-radius: 50%;
  background-color: #D1351D;
  color: #fdf5e6;
  width: 35px;
  height: 35px;
  margin-left: 12px;
  margin-top: 4px;
  padding-top: 5px;
  margin-left: 95%;
  font-family:'Mukta', sans-serif;
  text-align: center;
}
.mainfooter {
font-size: 15px;
color: #fdf5e6;
text-align: center;
margin: 0 auto;
padding-top: 10px;
padding-bottom: 10px;
font-family: 'Roboto Condensed', sans-serif;
}
.maincolumn {
  float: center;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 30px;
  margin-top: 10px;
  padding: 2%;
  background-color: #A9A9A9;
  height: 100%;
  border-radius: 10px;
  text-align: center;
  color: #007F02;
  font-family: 'Roboto Condensed', sans-serif;
}
.order {
  background-color: #479AED;
  border: none;
  color: #fdf5e6;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: 15px;
  border-radius: 10px;
  width: 100%;
  display: inline-block;
}
.order:hover {
  background-color: #D3D3D3;
  color: #D1351D;
  text-decoration: none;
}
.verticalline {
  border-left: 3px solid #D1351D;
  height:600px;
  position: absolute;
  left: 50%;
  margin-right: 20px;
  margin-top: 0;
  margin-bottom: 15px;
}

.select {
  width: 100px;
  margin-bottom: 15px;
  margin-left: 5%;
  background-color: #fdf5e6;
  text-align: center;
  border: none;
}

a {
text-align: center;
}

h2 {
  margin: .5em auto;
  margin-top: 60px;
  text-align: center;
  color: #D1351D;
  text-decoration: none;
  font-size: 50px;
  font-family:'Mukta', sans-serif;
}
h1 {
  font-size: 35px;
  font-family:'Mukta', sans-serif;
  color: #007F02;
}
label {
  margin-bottom: 0;
  margin-top: .5em;
  text-decoration: underline;
}
.leftside {
  display: block;
  width: 33%;
  float: left;
}
.rightside {
  display: block;
  width: 33%;
  float: left;
}
.middle {
  display:block;
  width:33%;
  float:left;
}
.bottom {
  display: block;
  width: 100%;
}

#phonenumber {
  margin-left: 10px;
  background-color: #fdf5e6;
}
.veg {
    width:100%;
    margin-bottom: 5px;
}
.savedorder {
  margin-bottom: 15px;
}
