body {
  background-color: #D3D3D3 !important;
  margin: 0;
}
ul {
  border: none;
  border-bottom: none;
  background-color: black;
  padding-left: 30px;
  font-family:'Mukta', sans-serif;
  font-size: 18px;
}
.logo {
  font-family: 'Oswald', sans-serif;
  text-align: center;
  color: #D1351D;
  background-color: #479AED;
  margin: 0;
  padding-left: 15px;
  float: left;
  padding-top: 8px;
  padding-right: 15px;
  text-decoration-style: solid;
  font-size: 18px;
}
.nav-tabs .nav-link.active {
  color: #D1351D;
  background-color: #A9A9A9;
}
.nav-tabs {
  border-bottom: 5px blue;
  background-color: #479AED;
}
.nav-link {
  color: #fdf5e6;
  background-color: #479AED;
  border-color: #479AED;
}
.nav-tabs .nav-link {
  border-radius: 0;
  margin: 0;
  border: none;
  float: center;
  padding-top:.5em;
  padding-bottom: .5em;
}
.nav-tabs .nav-item {
  margin: 0;
}
.nav-tabs .nav-item+.nav-item {
  margin-left: 0;
}
.nav-tabs .nav-link.active:hover {
  color: #D1351D;
  background-color: #A9A9A9;
}
a:hover {
  color: #D1351D;
  background: #A9A9A9;
  border-color: #A9A9A9;
}
.dropdown-toggle {
  border: none;
  position: relative;
  left: 20%;
  top: 2.5px;
  background-color: #479AED;
  color: white;
  border-color: black;
}
.dropdown-item {
  text-align: center;
  width:96%;
  color: #fdf5e6;
  margin-left: 2%;
  margin-right: 2%;
  padding-left: 15px;
  padding-right: 15px;
}
.dropdown-item:hover {
  background-color: #A9A9A9;
  color: #D1351D;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.btn-secondary.dropdown-toggle:hover {
  background-color: #A9A9A9;
  color: #D1351D;
}
.dropdown-menu {
  border: none;
  border-radius: 5px;
  background-color: #479AED;
}
.open>.btn-secondary.dropdown-toggle:focus {
  background-color: #A9A9A9;
  color: #D1351D;
}
.circle {
  border-radius: 50%;
  background-color: #D1351D;
  color: #fdf5e6;
  width: 35px;
  height: 35px;
  margin-left: 12px;
  margin-top: 4px;
  padding-top: 5px;
  margin-left: 95%;
  font-family:'Mukta', sans-serif;
  text-align: center;
}
h2 {
  margin: .5em auto;
  text-align: center;
  color: #D1351D;
  text-decoration: none;
  font-size: 50px;
  font-family:'Mukta', sans-serif;
}
.mainfooter {
font-size: 15px;
color: #fdf5e6;
text-align: center;
margin: 0 auto;
height: 100%;
padding-top: 10px;
padding-bottom: 10px;
font-family: 'Roboto Condensed', sans-serif;
}
.textbox {
float: center;
width: 60%;
height: auto;
text-align: center;
margin: auto 0;
margin-top: 10px;
margin-left: 20%;
color:#007F02;
padding: 2em;
margin-bottom: 15px;
font-family: 'Roboto Condensed', sans-serif;
}
.box {
  background-color: #A9A9A9;
  width: 90%;
  height: auto;
  text-align: center;
  margin: 0 auto;
  color:#007F02;
  padding-top:10px;
  padding-bottom: 10px;
  margin-bottom: 35px;
  font-family: 'Roboto Condensed', sans-serif;
}
.submit {
  background-color: #479AED;
  color:  #fdf5e6;
  border: none;
  margin-bottom: 40px;
  border-radius: 5px;
  padding: 8px;
  font-size: 20px;
}
.submit:hover {
  background-color: #A9A9A9;
  color: #007F02;
}
.order {
  background-color: #D3D3D3;
  color: #007F02;
  font-family: 'Roboto Condensed', sans-serif;
  width: 70%;
  text-align: left;
  padding-left: 2%;
  display: inline-block;
  border-width: 2px;
  border-color: #479AED;
  border-style: solid;
}
.delete {
  background-color: #D1351D;
  color: #fdf5e6;
  float: left;
  width: 20px;
  height: 23px;
  margin: 10px;
  border: none;
  border-style: none;
  padding: auto 0;
  border-radius: 3px;
}
.delete:hover {
  background-color:#A9A9A9 ;
  color:#007F02;
}
.view {
  background-color: #479AED;
  color: #fdf5e6;
  float: left;
  width: 50px;
  height: 23px;
  margin: 10px;
  border: none;
  border-style: none;
  padding: 2px;
  border-radius: 3px;
}
.view:hover {
  background-color:#A9A9A9 ;
  color:#007F02;
}
.realorder {
  background-color: #D3D3D3;
  color: #007F02;
  font-family: 'Roboto Condensed', sans-serif;
  width: 70%;
  text-align: left;
  padding-left: 2%;
  display: inline-block;
  border-width: 2px;
  border-color: #479AED;
  border-style: solid;
  margin:0 auto;
}
.center {
  text-align: center;
  float: center:
}
